body{
  font-family: 'Montserrat';
}

h1,h2,h4,h5,h6{
  font-size: 22pt;
}

h1 {
    font-weight: 600;
}

h3 {
  font-size: 16pt;
}

.subtitle, .author, .date {
  font-size: 16pt;
  margin-bottom: -5px;
}

.date {
  margin-bottom: -5px;
}

p {
  font-size: 14pt;
  margin-top: 2em;
  margin-bottom: 2em;
}

#header {    
  text-align: center;
  display: none;
}

.titulo {
  text-align: center;
  margin-top: 4em;
  margin-left: 11em;
  margin-right: 11em;
}

.fuente {
  font-weight: 600;
  margin-top: 0;
}

.caption {
  font-size: 12pt;
  text-align: center;
  
}

.caratula {
  background-image: url("cover.png");
  height: 1300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3em;
}

.texto-caratula {
  float: right;
  margin-top: 56em;
  margin-right: 2.2em;
  text-align: right;
}

.evento, .year {
  font-weight: 600;
  color: black;
  font-size: 30pt;
}

.evento {
  margin-bottom: 0;
}

.year {
  margin-top: 0;
}

th {
  font-weight: 600;
}

.titulo h1 {
  font-size: 24pt;
}