default:
  base_path_microdata: "https://portalsivigila.ins.gov.co/_api/"
  file_path_microdata: "Web/GetFileByServerRelativeUrl('_filepath_')"
  file_path_parameters_microdata: "/$value?binaryStringResponseBody=true"
  path_microdata: "web/lists/GetByTitle('Microdatos')/"
  query_path_microdata: "items?$select=*,FileRef&$filter=(A_x00f1_o%20eq%20%27_year_%27)and(NombreEvento%20eq%20%27_disease_%27)"
  query_diseases_by_year_path: "https://portalsivigila.ins.gov.co/_api/web/lists/GetByTitle('Microdatos')/items?$select=Evento,A_x00f1_o,NombreEvento&$orderby=NombreEvento%20asc&$top=1000"
  data_delim: ["|", "," , ";", ":", "-"]
  cols_remover: ["particion", "consecutive", "consecutive2", "separacion"]
  geo_data_path: "https://www.datos.gov.co/api/views/gdxc-w37w/rows.csv?accessType=DOWNLOAD"
  data_folder: "data/"
  additional_diseases: ["Malaria", "Intento De Suicidio", "Zika"]
  related_diseases: {"MORTALIDAD MATERNA": "MORBILIDAD MATERNA EXTREMA"}
  dates_column_names: ["fecha_nto", "fec_not", "ini_sin", "fec_hos", "fec_def", "fec_con"]
  depto_column_names: ["cod_dpto_o", "cod_dpto_r"]
  geo_column_names: ["cod_dpto_o", "cod_dpto_r", "cod_dpto_n", "cod_mun_o", "cod_mun_r", "cod_mun_n"]
  occurrence_geo_diseases:
    cod_dpto_n: [{ 351 : "ENDOMETRITIS PUERPERAL" }, { 357 : "INFECCION ASOCIADA A DISPOSITIVOS" }]
    cod_dpto_r: [{ 110 : "BAJO PESO AL NACER" }, { 100 :  "CANCER DE LA MAMA Y CUELLO UTERINO" }, { 459 :  "CANCER INFANTIL" }, { 342 :  "ENFERMEDADES HUERFANAS - RARAS" }, { 549 :  "MORBILIDAD MATERNA EXTREMA" }, { 550 :  "MORTALIDAD MATERNA" }, { 560 :  "MORTALIDAD PERINATAL Y NEONATAL TARDIA" }, { 112 :  "MORTALIDAD POR DESNUTRICION"}, { 450 :  "LEPRA"}, { 330 :  "HEPATITIS A"}, { 720 : "SINDROME DE RUBEOLA CONGENITA"}]
  cod_depts_exceptions: [00, 01]
  diseases_exceptions: [ 300: ["data_event$tip_cas != 5"],  110: ["data_event$edad <= 0" , "data_event$uni_med != 1" , "data_event$tip_cas != 5"], 459: ["data_event$tip_cas == 3 || data_event$tip_cas ==  4" ], 210: ["data_event$con_fin == 2", "data_event$tip_cas == 1 || data_event$tip_cas == 5" ], 220: ["data_event$con_fin  ==  2", "data_event$tip_cas  ==  1 || data_event$tip_cas  ==  5" ], 230: ["data_event$tip_cas == 1" ], 250: ["data_event$tip_cas == 1 || data_event$tip_cas == 4" ], 270: ["data_event$tip_cas == 1 || data_event$tip_cas == 4" ], 290: ["data_event$tip_cas == 1 || data_event$tip_cas == 4" ], 310: ["data_event$tip_cas == 1 || data_event$tip_cas == 4" ],  420: ["data_event$tip_cas != 3" ], 430: ["data_event$tip_cas != 3" ], 440: ["data_event$tip_cas != 2 & data_event$tip_cas != 3" ], 460: ["data_event$tip_cas != 4" ], 495: ["data_event$tip_cas != 4" ], 470: ["data_event$tip_cas != 4" ], 490: ["data_event$tip_cas != 4" ], 480: ["data_event$tip_cas != 4" ], 549: ["data_event$edad < 5 & data_event$edad > 59", "data_event$tip_cas != 5", "data_event$cod_fin != 1" ], 550: ["data_event$edad < 5 & data_event$edad > 59", "data_event$tip_cas != 5", "data_event$tip_cas != 5", "data_event$cod_fin != 2" ], 560: ["data_event$tip_cas != 5", "data_event$cod_fin != 2" ], 580: ["data_event$cod_fin != 2" ], 112: ["data_event$cod_fin != 2" ], 540: ["data_event$cod_fin != 2" ], 560: ["data_event$fecha_nto >= data_event$fec_def"] ]
  departments: [ "Amazonas", "Antioquia", "Arauca", "Archipielago de San Andres, Providencia y Santa Catalina", "Catalina", "Atlantico", "Bogota D.C.", "Bolivar", "Boyaca", "Caldas", "Caqueta", "Casanare", "Cauca", "Cesar", "Choco", "Cordoba", "Cundinamarca", "Guainia", "Guaviare", "Huila", "La Guajira", "Magdalena", "Meta", "Nariño", "Norte de Santander", "Putumayo", "Quindio", "Risaralda", "Santander", "Sucre", "Tolima", "Valle del Cauca", "Vaupes", "Vichada" ]
  map_shape_file: "municipios_simplified_.001.shp"
  map_shape_folder: "depto_adm_shp_simp"
  map_shape_zip_file: "depto_adm_shp_simp.zip"
  map_shape_path: "https://raw.githubusercontent.com/TRACE-LAC/sivirep_resources/main/depto_adm_shp_simp.zip"
  dpto_shape_file: "depto.shp"
  divipola_data_path: "divipoladata.rda"
  labels_geo_areas: ["Cabecera municipal", "Centro poblado", "Rural disperso"]
  labels_cas_tip: {"1": "Sospechoso", "2": "Probable", "3": "Confirmado por laboratorio", "4": "Confirmado por clinica", "5": "Confirmado por nexo epidemiologico"}
  labels_per_etn: {"1": "Indigena", "2": "ROM/ Gitano", "3": "Raizal", "4": "Palenquero", "5": "Negro/ Mulato/ Afrocolombiano", "6": "Otro"}
  label_year: "Año"
  label_cases: "Número de casos"
  label_incidence: "Incidencia"
  label_code: "Código"
  caption_table_events: "Distribución de casos por evento"
  label_geo_area: "Área geográfica"
  label_epiweek: "Semana epidemiológica"
  label_date_not: "Fecha de notificación"
  label_date_ini: "Fecha de inicio de síntomas"
  label_geo_analysis: "Análisis efectuado por geografía de "
  label_type_case: "Clasificación del caso"
  label_etn_groups: "Pertenencia étnica"
  projections_population:
    url: >-
      https://raw.githubusercontent.com/TRACE-LAC/sivirep_incidence/main/data/proyecciones/proyecciones_{year}.rda
    file_name: 'proyecciones_{year}'
    extension: .rda
    start_year: 2005
    final_year: 2035
  risk_population:
  - cod_eve: 210
    event: dengue
    url: >-
      https://raw.githubusercontent.com/TRACE-LAC/sivirep_incidence/main/data/poblacion_riesgo/210_dengue/pob_riesgo_210_dengue_{year}.rda
    years:
      - 2022
      - 2021
      - 2020
    file_name: 'pob_riesgo_210_dengue_{year}'
    extension: .rda
  - cod_eve: 465
    event: malaria
    url: >-
      https://raw.githubusercontent.com/TRACE-LAC/sivirep_incidence/main/data/poblacion_riesgo/465_malaria/pob_riesgo_465_malaria_{year}.rda
    years:
      - 2023
      - 2022
      - 2021
    file_name: 'pob_riesgo_465_malaria_{year}'
    extension: .rda
  - cod_eve: 420
    event: leishmaniasis_cutanea
    url: >-
      https://raw.githubusercontent.com/TRACE-LAC/sivirep_incidence/main/data/poblacion_riesgo/420_leishmaniasis_cutanea/pob_riesgo_420_leishmaniasis_cutanea_{year}.rda
    years:
      - 2023
    file_name: 'pob_riesgo_420_leishmaniasis_cutanea_{year}'
    extension: .rda
  - cod_eve: 430
    event: leishmaniasis_mucosa
    url: >-
      https://raw.githubusercontent.com/TRACE-LAC/sivirep_incidence/main/data/poblacion_riesgo/430_leishmaniasis_mucosa/pob_riesgo_430_leishmaniasis_mucosa_{year}.rda
    years:
      - 2023
    file_name: 'pob_riesgo_430_leishmaniasis_mucosa_{year}'
    extension: .rda
  - cod_eve: 440
    event: leishmaniasis_visceral
    url: >-
      https://raw.githubusercontent.com/TRACE-LAC/sivirep_incidence/main/data/poblacion_riesgo/440_leishmaniasis_visceral/pob_riesgo_440_leishmaniasis_visceral_{year}.rda
    years:
      - 2023
    file_name: 'pob_riesgo_440_leishmaniasis_visceral_{year}'
    extension: .rda
  incidence_events_file_name: "incidencia_eventos.rda"
  caption_geo_incidence: "Incidencia por geografía de "
  caption_sex_incidence: "Incidencia por sexo"
  months: ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"]
  special_events: [{"cod_eve": 465, "event": "malaria"}]
  request_timeout: 100
